
body {
    margin: 0;
    padding: 0;
    background: url('/static/img/login.') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-box {
    width: 400px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.85); 
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
    text-align: center;
}
.login-box h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}
.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.login-box button:hover {
    background-color: #0056b3;
}
.login-box p {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.login-box a {
    color: #007bff;
    text-decoration: none;
}

.login-box a:hover {
    text-decoration: underline;
}