<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static i18n %}
{% block content %}
<div class="container">
    <div class="login-box">
        <h1>{% trans "Login" %}</h1>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <form method ="post">{% csrf_token %}{{ form.as_p}}
        <button type="submit">{% trans "Login" %}</button>
    </form>
<p> {% trans "If you don't have an account" %} <a href="{% url 'register' %}">{% trans "Sign Up here." %}</a>
</div>
{% endblock content %}
