/* 
.order-table {
    width: 100%;
    border-collapse: collapse;  
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    text-align: center;  
    border: 1px solid #ddd; 
}

.order-table th {
    background-color: var(--bg-color);
    color: white;
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;  
}


.order-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.order-table tr:hover {
    background-color: #e3f2fd;  
    cursor: pointer; 
}


.order-table td {
    padding: 12px;
    border: 1px solid #ddd;  
    text-align: center;
}


.status-label {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.status-pending {
    color: #ff9800;
    background-color: #fff3cd;
}

.status-shipped {
    color: #28a745;
    background-color: #d4edda;
}

.status-cancelled {
    color: #dc3545;
    background-color: #f8d7da;
}

.status-hold {
    color: #ffc107;
    background-color: #fff3cd;
}

.status-ticket {
    color: #17a2b8;
    background-color: #d1ecf1;
}

.status-complete {
    color: #28a745;
    background-color: #d4edda;
}

.status-refunded {
    color: #6c757d;
    background-color: #e2e3e5;
}

/* Verified Purchase styles */
.verified-label {
    color: #28a745;
    font-weight: bold;
    background-color: #d4edda;
    padding: 5px 10px;
    border-radius: 5px;
}

.not-verified-label {
    color: #dc3545;
    font-weight: bold;
    background-color: #f8d7da;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Styling for review buttons */
.btn-secondary {
    background-color: #6c757d;
    border: 1px solid #5a6268;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

